<clr-accordion>
  <clr-accordion-panel>
    <clr-accordion-title>Searching</clr-accordion-title>
    <clr-accordion-content>
      <button class="btn btn-info-outline"><clr-icon shape="refresh"></clr-icon> Refresh</button>
      <form class="clr-form">
        <div class="clr-row">
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Basic input</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic" placeholder="Enter value here" class="clr-input">
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Basic input</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic" placeholder="Enter value here" class="clr-input">
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Basic input</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic" placeholder="Enter value here" class="clr-input">
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Basic input</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic" placeholder="Enter value here" class="clr-input">
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Basic input</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic" placeholder="Enter value here" class="clr-input">
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Basic input</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic" placeholder="Enter value here" class="clr-input">
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Basic input</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic" placeholder="Enter value here" class="clr-input">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Basic input</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic" placeholder="Enter value here" class="clr-input">
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Basic input</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic" placeholder="Enter value here" class="clr-input">
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Basic input</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic" placeholder="Enter value here" class="clr-input">
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Basic input</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic" placeholder="Enter value here" class="clr-input">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Basic input</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic" placeholder="Enter value here" class="clr-input">
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Basic input</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic" placeholder="Enter value here" class="clr-input">
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Basic input</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic" placeholder="Enter value here" class="clr-input">
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </clr-accordion-content>
  </clr-accordion-panel>
</clr-accordion>
<button class="btn btn-info-outline"><clr-icon shape="download"></clr-icon> Searching</button>

