<app-toggle-switches></app-toggle-switches>

  <table border="1">
    <thead>
      <tr>
        <th rowspan="3">Chọn</th>
        <th colspan="4">Thông tin hợp đồng</th>
        <th colspan="2">Thông tin tòa nhà</th>
        <th>Thông tin chủ sở hữu</th>
        <th colspan="3">Số căn hộ</th>
        <th colspan="7">Kiểm tra định kì</th>
      </tr>
      <tr>
        <th>No.</th>
        <th>Phân loại</th>
        <th>Hình thức</th>
        <th>Ngoài tiêu chuẩn</th>
        <th>No.</th>
        <th>Tên</th>
        <th>Tên</th>
        <th rowspan="2">Phần cho thuê</th>
        <th rowspan="2">Phần chủ nhà sử dụng</th>
        <th rowspan="2">Tổng số</th>
        <th rowspan="2">Tên hạng mục</th>
        <th rowspan="2">Chu kỳ</th>
        <th rowspan="2">Đơn vị</th>
        <th rowspan="2">Số lần</th>
        <th rowspan="2">Công ty thực hiện</th>
        <th rowspan="2">Số tiền phát sinh</th>
        <th rowspan="2">Tổng số tiền</th>
      </tr>
      <tr>
        <th>Ngày hợp đồng</th>
        <th colspan="3">Phụ trách</th>
        <th>Ngày chuyển giao</th>
        <th>Địa chỉ</th>
        <th>Chào hỏi</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="6"><button class="btn btn-primary" type="button">Chọn</button></td>
        <td>0103310045</td>
        <td>Đã thanh toán</td>
        <td>Tiền mặt</td>
        <td>Không có</td>
        <td>1039008122</td>
        <td>Tòa A1</td>
        <td>Ông Kimoto</td>
        <td rowspan="2">5</td>
        <td rowspan="2">1</td>
        <td rowspan="2">6</td>
        <td>Kiểm tra pccc</td>
        <td>6</td>
        <td>tháng</td>
        <td>1</td>
        <td>phòng pccc quận ABC</td>
        <td>2,000</td>
        <td>2,000</td>
      </tr>
      <tr>
        <td>2019-11-19</td>
        <td colspan="3">Anh Lakawa</td>
        <td>2019-12-01</td>
        <td>Quận AWA</td>
        <td>Đã chào</td>
        <td>Kiểm tra pccc</td>
        <td>6</td>
        <td>tháng</td>
        <td>1</td>
        <td>phòng pccc quận ABC</td>
        <td>2,000</td>
        <td>2,000</td>
      </tr>

    </tbody>
  </table>
